@media screen and (min-width:1200px){
    .wrapper{
        width:1140px;
    }
}
@media screen and (min-width:992px) and (max-width:1200px){
    .wrapper{
        width:960px;
    }
}
@media screen and (min-width:768px) and (max-width:992px){
    .wrapper{
        width:720px;
    }
    .navbar_collapse{
        width: 100%;
        flex-direction:column;
        align-items:center;
        padding-left:17px;
    }
    .navbar_nav{
        flex-direction:column;
        align-items: center;
    }
    .wrap_btnStart{
        
        justify-content: center;
    }
}
@media screen and (min-width:576px) and (max-width:768px){
    .wrapper{
        width:540px;
    }
}
@media screen and (min-width:300px) and (max-width:576px){
    .wrapper{
        width:auto;
    }
}
@media screen and (min-width:300px) and (max-width:992px){
    .navbar_logo{
        padding:20px 0;
    }
    .navbar_collapse{
        width: 100%;
        flex-direction:column;
        padding-left:17px;
        margin-bottom:20px;
        transform: translateY(-800px);
        height:0px;
        transition:.5s all;
        &--active{
            display:flex;
            transform: translateY(0px);
            height: 428px;
        }
    }
    .navbar_nav{
        flex-direction:column;
        li{
            a{
                &::before{
                    background: transparent; 
                }
            }
        }
    }
    .wrap_btnStart{
        display:flex;
        padding-left:0px;
    }
    .navbar_btnStart{
        width:116px;
        box-sizing:border-box;
    }
    .navbar_togler{
        span{
            display:block;
        }
        &--active{
            span{
                background: transparent;
                &:before{
                    transform:rotate(45deg);
                    top:0px;
                    transform-origin:center center;
                }
                &:after{
                    transform:rotate(-45deg);
                    bottom:0px;
                    transform-origin:center center;
                }
            }
        }
    }
    .firstScreen{
        flex-direction: row-reverse;
        flex-wrap:wrap-reverse;
        justify-content: flex-start;
        &_description{
            width:100%;
        }
        &_imgWrap{
            width: 100%;
            height:500px;
        }
        &_img{
            top:-50px;
        }
    }
    .services{
        &_article{
            width:auto;
        }
    }
}